@using Data.DbModel

@code {
    /// <summary>
    /// The EditContext for form validation and state management.
    /// </summary>
    [CascadingParameter] public EditContext EditContext { get; set; }
    /// <summary>
    /// The invoice being edited or displayed.
    /// </summary>
    [Parameter] public Invoice Invoice { get; set; }
    
    private DateOnly TODAY => DateOnly.FromDateTime(DateTime.Now);
    private DateOnly DUE => TODAY.AddDays(14);


    // protected override Task OnInitializedAsync() {
    //     Invoice.Currency = "CZK";
    //     Invoice.Number = $"10{TODAY.Month:D2}000";
    //     Invoice.VariableSymbol = Invoice.Number;
    //     Invoice.IssueDate = TODAY;
    //     Invoice.DueDate = DUE;
    //     
    //     return base.OnInitializedAsync();
    // }

    /// <summary>
    /// Notifies the EditContext that a field has changed and triggers UI update.
    /// </summary>
    /// <param name="model">The model object</param>
    /// <param name="name">The property name</param>
    private void Notify(object model, string name) {
        EditContext.NotifyFieldChanged(
            new FieldIdentifier(model, name)
        );
        StateHasChanged(); //todo Query sent only onchange, not oninput
    }
    
    /// <summary>
    /// Updates the variable symbol when the invoice number changes.
    /// </summary>
    /// <param name="e">Change event args</param>
    private void Number2VariableSymbol(ChangeEventArgs e) {
        var val = e.Value?.ToString();
        Invoice.VariableSymbol = val?.Length <= 10 ? val : val?[..10];
        
        Notify(Invoice, nameof(Invoice.Number));
        Notify(Invoice, nameof(Invoice.VariableSymbol));
    }

    /// <summary>
    /// Clears invoice number, variable symbol, and resets dates.
    /// </summary>
    private void Clear() {
        Invoice.Number = "";
        Invoice.VariableSymbol = "";
        Invoice.IssueDate = TODAY;
        Invoice.DueDate = DUE;
    }
}

<div class="component-div form-div">
    <div class="component-input-header">
        <h4>Invoice Details</h4>
        <button type="button" class="btn btn-danger btn-clear" @onclick="Clear">Clear</button>
    </div>
    <div class="component-input-row">
        <label>Number:</label>
        <InputText 
            @bind-Value="Invoice.Number" 
            @oninput="_ => Notify(Invoice, nameof(Invoice.Number))" 
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Currency:</label>
        <InputText 
            @bind-Value="Invoice.Currency" 
            @oninput="_ => Notify(Invoice, nameof(Invoice.Currency))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Variable Symbol:</label>
        <InputText 
            @bind-Value="Invoice.VariableSymbol" 
            @oninput="_ => Notify(Invoice, nameof(Invoice.VariableSymbol))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Issue Date:</label>
        <InputDate
            @bind-Value="Invoice.IssueDate"
            @oninput="_ => Notify(Invoice, nameof(Invoice.IssueDate))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Due Date:</label>
        <InputDate
            @bind-Value="Invoice.DueDate"
            @oninput="_ => Notify(Invoice, nameof(Invoice.DueDate))"
            class="form-control"/>
    </div>
</div>