@using Data
@code {
    [Parameter] public Invoice Invoice { get; set; }
}

<div>
    <h4>Invoice Details</h4>
    <label>Number:</label>
    <InputText @bind-Value="Invoice.Number" class="form-control" />
    <label>Variable Symbol:</label>
    <InputText @bind-Value="Invoice.VariableSymbol" class="form-control" />
    <label>Issue Date:</label>
    <InputDate @bind-Value="Invoice.IssueDate" class="form-control" />
    <label>Due Date:</label>
    <InputDate @bind-Value="Invoice.DueDate" class="form-control" />
</div>