@using Data.DbModel

@code {
    [Parameter] public InvoiceItem InvoiceItem { get; set; }
}

<div>
    <label>Name:</label>
    <InputText @bind-Value="InvoiceItem.Name" class="form-control" />
    <label>Description:</label>
    <InputText @bind-Value="InvoiceItem.Description" class="form-control" />
    <label>Unit:</label>
    <InputText @bind-Value="InvoiceItem.Unit" class="form-control" />
    <label>Quantity:</label>
    <InputNumber @bind-Value="InvoiceItem.Quantity" class="form-control" />
    <label>Price Per Unit:</label>
    <InputNumber @bind-Value="InvoiceItem.PricePerUnit" class="form-control" />
</div>