@using Data.DbModel

@code {
    [Parameter] public Invoice Invoice { get; set; }
}

<div class="component-div form-div">
    <h4>Invoice Details</h4>
    <span>
        <label>Number:</label>
        <InputText @bind-Value="Invoice.Number" class="form-control" />
    </span>
    <span>
        <label>Variable Symbol:</label>
        <InputText @bind-Value="Invoice.VariableSymbol" class="form-control" />
    </span>
    <span>
        <label>Issue Date:</label>
        <InputDate @bind-Value="Invoice.IssueDate" class="form-control"  />
    </span>
    <span>
        <label>Due Date:</label>
        <InputDate @bind-Value="Invoice.DueDate" class="form-control"/>
    </span>
</div>