@using Data.DbModel

@code {
    [Parameter] public OrderInfo OrderInfo { get; set; }
}

<div class="list-item-div form-div">
    <div class="component-input-row">
        <label>Order Number:</label>
        <InputText @bind-Value="OrderInfo.Number" class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Date:</label>
        <InputDate @bind-Value="OrderInfo.Date" class="form-control"/>
    </div>
</div>

