@using Data.DbModel

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public PartyInfo PartyInfo { get; set; }
}

<div class="component-div form-div">
    <h4>@Title</h4>
    <label>First Name:</label>
    <InputText @bind-Value="PartyInfo.FirstName" class="form-control" />
    <label>Last Name:</label>
    <InputText @bind-Value="PartyInfo.LastName" class="form-control" />
    
    <label>VAT ID:</label>
    <InputText @bind-Value="PartyInfo.VatId" class="form-control" />
</div>
