@using Data.DbModel

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public PartyInfo PartyInfo { get; set; }
}

<div class="component-div form-div">
    <h4>@Title</h4>
    <label>First Name:</label>
    <InputText @bind-Value="PartyInfo.FirstName" class="form-control" />
    <label>Last Name:</label>
    <InputText @bind-Value="PartyInfo.LastName" class="form-control" />
    
    <label>Email:</label>
    <InputText @bind-Value="PartyInfo.Email" class="form-control" />
    <label>Phone:</label>
    <InputText @bind-Value="PartyInfo.Phone" class="form-control" />
    
    <label>VAT ID:</label>
    <InputText @bind-Value="PartyInfo.VatId" class="form-control" />
    
    <label>Street:</label>
    <InputText @bind-Value="PartyInfo.Address.Street" class="form-control" />
    <label>City:</label>
    <InputText @bind-Value="PartyInfo.Address.City" class="form-control" />
    <label>Zip Code:</label>
    <InputText @bind-Value="PartyInfo.Address.ZipCode" class="form-control" />
    <label>Country:</label>
    <InputText @bind-Value="PartyInfo.Address.Country" class="form-control" />
    <label>State:</label>
    <InputText @bind-Value="PartyInfo.Address.State" class="form-control" />
</div>
