@using Data.DbModel

@code {
    /// <summary>
    /// The party information to display (e.g. seller or customer).
    /// </summary>
    [Parameter]
    public PartyInfo Info { get; set; }
    /// <summary>
    /// Title for the party section (e.g. Seller, Customer).
    /// </summary>
    [Parameter]
    public string Title { get; set; }
    /// <summary>
    /// Alignment of the party info block (left or right).
    /// </summary>
    [Parameter]
    public string Alignment { get; set; } = "left";

    [CascadingParameter] public EditContext EditContext { get; set; }

    private void Clear() {
        Info = new PartyInfo();
    }
    
    private void Notify(object model, string name) => EditContext.NotifyFieldChanged(
        new FieldIdentifier(model, name)
    );
}

<div class="component-div form-div">
    <div class="component-input-header">
        <h4>@Title</h4>
        <button type="button" class="btn btn-danger btn-clear" @onclick="Clear">Clear</button>
    </div>
    <div class="component-input-row">
        <label>First Name:</label>
        <InputText
            @bind-Value="Info.FirstName"
            @oninput="_ => Notify(Info, nameof(Info.FirstName))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Last Name:</label>
        <InputText 
            @bind-Value="Info.LastName" 
            @oninput="_ => Notify(Info, nameof(Info.LastName))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Email:</label>
        <InputText 
            @bind-Value="Info.Email" 
            @oninput="_ => Notify(Info, nameof(Info.Email))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Phone:</label>
        <InputText 
            @bind-Value="Info.Phone" 
            @oninput="_ => Notify(Info, nameof(Info.Phone))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>VAT ID:</label>
        <InputText 
            @bind-Value="Info.VatId" 
            @oninput="_ => Notify(Info, nameof(Info.VatId))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Street:</label>
        <InputText 
            @bind-Value="Info.Address.Street" 
            @oninput="_ => Notify(Info.Address, nameof(Info.Address.Street))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>City:</label>
        <InputText 
            @bind-Value="Info.Address.City" 
            @oninput="_ => Notify(Info.Address, nameof(Info.Address.City))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Zip code:</label>
        <InputText 
            @bind-Value="Info.Address.ZipCode" 
            @oninput="_ => Notify(Info.Address, nameof(Info.Address.ZipCode))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>Country:</label>
        <InputText 
            @bind-Value="Info.Address.Country" 
            @oninput="_ => Notify(Info.Address, nameof(Info.Address.Country))"
            class="form-control"/>
    </div>
    <div class="component-input-row">
        <label>State:</label>
        <InputText 
            @bind-Value="Info.Address.State" 
            @oninput="_ => Notify(Info.Address, nameof(Info.Address.State))"
            class="form-control"/>
    </div>
</div>
