@using Data.Bags

@code {
    /// <summary>
    /// The message for the recipient in QR payment.
    /// </summary>
    [Parameter]
    public string MessageForRecipient { get; set; }
    /// <summary>
    /// Title for the QR misc section.
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    [CascadingParameter] public EditContext EditContext { get; set; }
    [Parameter] public required QrMiscBag QrMisc { get; set; }

    private void Clear() => QrMisc = new QrMiscBag();
    
    private void Notify(object model, string name) => EditContext.NotifyFieldChanged(
        new FieldIdentifier(model, name)
    );
}

<div class="component-div form-div">
    <div class="component-input-header">
        <h4>QR Payment miscellaneous</h4>
        <button type="button" class="btn btn-danger btn-clear" @onclick="Clear">Clear</button>
    </div>
    <div class="component-input-row">
        <label>Msg for Recipient:</label>
        <InputText 
            @bind-Value="QrMisc.MessageForRecipient" 
            @oninput="() => Notify(QrMisc, nameof(QrMisc.MessageForRecipient))"
            class="form-control"/>
    </div>
</div>