@page "/InvoiceCreator"
@using Data.DbModel
@using Invoicify.Client.BlazorComponents
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>InvoiceCreator</h3>
<EditForm Model="_invoice" OnValidSubmit="SaveInvoice">
    <DataAnnotationsValidator />
    
    <InvoiceComponent Invoice="_invoice" />
    <PartyInfoComponent Title="Seller Info" PartyInfo="_invoice.SellerInfo" />
    <PartyInfoComponent Title="Customer Info" PartyInfo="_invoice.CustomerInfo" />
    <BankInfoComponent BankInfo="_invoice.BankInfo" />
    
    <h4>Order Info</h4>
    <button type="button" @onclick="AddOrder" class="btn btn-secondary">Add Order</button>
    <div class="order-list">
        @foreach (var order in _invoice.OrdersInfo)
        {
            <OrderInfoComponent OrderInfo="order" />
        }
    </div>
    
    <h4>Invoice Items</h4>
    <button type="button" @onclick="AddItem" class="btn btn-secondary">Add Item</button>
    <div class="items-list">
        @foreach (var item in _invoice.Items)
        {
            <InvoiceItemComponent InvoiceItem="item" />
        }
    </div>
    
    <button type="submit" class="btn btn-primary">Save Invoice</button>
</EditForm>

@code {
    private Invoice _invoice = new Invoice {
        SellerInfo = new PartyInfo(),
        CustomerInfo = new PartyInfo(),
        BankInfo = new BankInfo(),
        OrdersInfo = new List<OrderInfo>(),
        Items = new List<InvoiceItem>(),
        Number = default,
        IssueDate = default,
        DueDate = default
    };
    
    private void AddOrder()
    {
        _invoice.OrdersInfo.Add(new OrderInfo {  });
    }
    
    private void AddItem()
    {
        _invoice.Items.Add(new InvoiceItem {  });
    }
    
    private async Task SaveInvoice() {
        //test:
        _invoice = Invoice.GetTestInvoice();
        await Http.PostAsJsonAsync("invoice", _invoice);
        
        // Save logic here
        Navigation.NavigateTo("/InvoiceCreator");
    }
}
