@inherits LayoutComponentBase
<!--
    MainLayout is the root layout for the application. It provides a sidebar navigation (NavMenu)
    and a main content area where the current page is rendered via @Body.
-->

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>