<!--
    NavMenu provides the main navigation for the application. It includes links to Home, Counter, and Weather pages.
    The navigation menu can be collapsed or expanded using the toggle button.
-->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Invoicify.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    /// <summary>
    /// Indicates whether the navigation menu is collapsed.
    /// </summary>
    private bool collapseNavMenu = true;

    /// <summary>
    /// Gets the CSS class for the navigation menu based on its collapsed state.
    /// </summary>
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    /// <summary>
    /// Toggles the collapsed state of the navigation menu.
    /// </summary>
    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}